{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script>
    window.model = "{{ cl.opts.object_name }}";
    window.app_label = "{{ cl.opts.app_label }}";
</script>
{% endblock %}

{% block content %}
<script type="text/javascript">
(function($) { 
$(document).ready(function() {
    function hide_row(parent){
        parent = parent.replace(" -  [hide]", "").trim();
        var tableRow = $("td.field-parent").filter(function() {
            return $(this).text().trim() == parent;
        }).closest("tr").each(function(){
                $(this).children('th.field-indented_title').each(function(){
                    var title = $(this).text().replace(" -  [hide]", "");
                    hide_row(title);
                });
                $(this).toggle();
            });
        
    }
//      hide_row("Blog");
     $('table#result_list tr').each(function(){
        var title = $('div.box-text', this).text();
        var children = $('td.field-get_children', this).text();
        if(children.length >1){
            var a = $("<a href='#' style='font-size:0.8em;'>  -  [hide]</a>");
            a.click(function(){hide_row(title);});
            $('div.box-text', this).append("</a> ");
            $('div.box-text', this).append(a);
        }
     });
    })
})(django.jQuery);
</script>
{{ block.super }}
{% endblock %}
