{% load i18n %}
{% spaceless %}
    {% if audio %}<div><a title="{% trans "Play CAPTCHA as audio file" %}" onClick="window.open('{{audio}}', 'audio captcha', 'height=200,width=400,scrollbars=yes');">{% endif %}<img src="{{image}}" alt="captcha" class="captcha" />{% if audio %}</a><a title="{% trans "Play CAPTCHA as audio file" %}" onClick="window.open('{{audio}}', 'audio captcha', 'height=200,width=400,scrollbars=yes');"><span id="captcha_audio" class="glyphicon glyphicon-volume-up"></span></a></div>{% endif %}
{% endspaceless %}
