/* imagecontent align */
.img_r {
    display: inline;
    float: right;
    margin-left: 20px;
    margin-top: 20px;
}
.img_l {
    display: inline;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
.img_n {
    float: none;
}

.text-italic {
    font-style: italic;
}

/* START comment form */
textarea#id_comment {
    height: inherit;
}

img.captcha { 
    float: left;
    display: inline;
}

#captcha_audio{
    position: absolute; 
    margin: 13px;
    font-size: 1.7em;
}


#captcha_reload_popover {
    font-color: indianred;
}

.popover {
    max-width: none;
}
/* END comment form */

/* START comment list */
.comment-header { }
.comment-body { }
.comment-footer { 
    padding: 1px 15px;
}
/* END comment list */

