{% load i18n static %}
<div id="comment_form" class="">
	<form  method="POST">{% csrf_token %}
		{% include "forms/form.html" with form=comment_form %}
		<div class="form-group">
			<button type="submit" class="btn btn-default">{% trans "submit" %}</button>
		</div>
	</form>
</div>
<div id="comment_form_captcha" style="display:none;" class="container">
	<form  method="POST" class="form-horizontal">{% csrf_token %}
		{{ comment_form_captcha }}
		<div class="form-group">
			<button type="submit" class="btn btn-default">{% trans "submit" %}</button>
		</div>
	</form>
</div>
