{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% trans "blog entries" %}{% endblock title %}
{% block content %}
<div class="container">
    <h3>{% trans "blog entries" %}</h3>
    <div class="panel-group">
        {% for object in object_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{% url 'entry_detail' object.slug %}">{{ object.title }}</a> - 
                <small class="text-muted">{{ object.pub_date }}</small>
            </div>
            <div class="panel-body">{{ object.get_excerpt|truncatewords:77 }}</div>
            <div class="panel-footer small-panel-footer">
			<span class="glyphicon glyphicon-comment text-info"></span> 
            <small class="text-muted">{{ object.get_comments_count }}</small></div>
        </div>
        {% endfor %}
    </div><!-- panel group -->
</div><!-- container -->
{% endblock %}
