{% extends "admin/index.html" %}
{% load i18n static%}
{% block extrastyle %}
  <!--link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" /-->
<!--link rel="stylesheet" href="{% static "/3rdparty/bootstrap/css/bootstrap.min.css" %}" /-->
{{ block.super }}

<script src={% static "/3rdparty/jquery-3.2.0.min.js" %}></script>
<script src={% static "/3rdparty/bootstrap/js/bootstrap.min.js" %}></script>
{% endblock %}
   

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo;
{% for app in app_list %}
{{ app.name }}
{% endfor %}
</div>
{% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}

{% block content %}
<script>
$(document).ready(function() {

// $("#add_setting").hide();
$( "#btn_add_setting" ).click(function( event ) {
  event.preventDefault();
  $("#add_setting").toggle('slow');
});
});

</script>

<button id="btn_add_setting" style="">Add Setting</button>

<div id="add_setting" class="collapse" style="float:right; display:none;">
<br />
{{ block.super }}
</div>
    <h2>Current Settings</h2>
    <table>
    <thead>
        <th scope="col">
            <div class="text"><span>App</span></div>
        </th>
        <th scope="col">
            <div class="text"><span>Name</span></div>
        </th>
        <th scope="col">
            <div class="text"><span>Value</span></div>
        </th>
        <th scope="col">
            <div class="text"><span></span></div>
        </th>
    </thead>
    <tbody>
    {% for s in settings %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{s.app_label}} </td>
        <td> {{s.name}} </td>
        <td> {{s.value}} </td>
        <td> <a href="{{ s.link }}">edit</a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>



<br /><br />
<br />
<br />
  {% endblock %}
