.img_r {
    display: inline;
    float: right;
    margin-left: 20px;
    margin-top: 20px;
}
.img_l {
    display: inline;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
.img_n {
    float: none;
}
.text-italic {
    font-style: italic;
}

img.captcha { 
	float: left;
	display: inline;
}

textarea#id_comment {
	height: inherit;
}

#id_captcha_1 { 
	float: right;
}

.form-error {
    color: indianred;
    font-size: small;
}

.input-error {
    border: 1px solid indianred;
    border-color: indianred;
}
